<header class="navbar">

<h2>
📚 教科書フリマ
</h2>

<div>

<a href="/">
ホーム
</a>

<a href="/user/<%= myId %>">
マイページ
</a>

<a href="/listing/new">
出品
</a>

<form action="/logout" method="post" style="display:inline">

<button>
ログアウト
</button>

</form>

</div>

</header>