<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>ログイン</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>

<div class="card">


<h1>ログイン</h1>


<% if (typeof error !== "undefined") { %>

<p class="error">
    <%= error %>
</p>

<% } %>



<form action="/login" method="post">


<label>
メールアドレス
</label>

<input
type="email"
name="email"
required>



<label>
パスワード
</label>

<input
type="password"
name="password"
required>



<button type="submit">
ログイン
</button>


</form>


<br>


<a href="/signup">
新規登録はこちら
</a>


</div>


</body>

</html>