<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>新規登録</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="card">

<h1>新規登録</h1>

<form action="/signup" method="post">

<label>メールアドレス</label>

<input
type="email"
name="email"
required>

<label>パスワード</label>

<input
type="password"
name="password"
required>

<label>名前</label>

<input
type="text"
name="name"
required>

<label>学部・学科</label>

<input
type="text"
name="department">

<label>学年</label>

<input
type="number"
name="grade">

<button>

登録

</button>

</form>

<br>

<a href="/login">

ログインはこちら

</a>

</div>

</body>

</html>